.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

#angeLogo {
	padding:10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #5a0016;
}

pre {
    padding: 3px 5px;
    border: 3px double silver;
    background: #eee;
    overflow: auto;
}
